
@{
    /*Author: Bertol Salgado 1361242
    * COSC 4351
    * Spring 2016
    * View that will display when user tries to access unauthorize action and view
    */
    ViewBag.Title = "Unauthorize";
}

<h1 class="text-danger">Acess Denied</h1>
<h2 class="text-danger">You dont have access to this page.</h2>

